.pageHeader {
  text-align: center;
  margin: 20px;
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 32px);
  gap: 2px;
  font-size: 12px;
}

.gridBox {
  font-family: sans-serif;
  text-align: center;
  height: 32px;
  width: 32px;
  line-height: 28px;
  border-style: solid;
  border-color: var(--color-month-border);
  border-width: 2px;
  outline: 2px solid rgba(255, 143, 31, 0.3);
}

.gridPopulated:hover {
  cursor: pointer;
  opacity: 0.7;
  color: #000 !important;
}

.alternateMonth {
  outline: 2px solid rgba(255, 102, 252, 0.3);
}

.information {
  position: fixed;
  text-align: center;
  background-color: var(--background-color);
  padding: 10px;
  border: 1px solid var(--font-color);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
