.hiddenButton {
  border: none;
  border-radius: 50%;
}

.hiddenButton:hover,
.hiddenButton:focus {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.flex {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
  margin-inline: 5rem;
}

.center {
  display: flex;
  justify-content: space-around;
  margin-block: 5rem;
}
.title {
  margin-block: 4rem;
  font-size: 5ch;
  text-align: center;
}

.contextForm {
  height: 470px;
  width: 300px;
  border-radius: 10px;
  border-color: grey;
  border-style: solid;
  border-width: px;
  margin: 20px;
  padding: 20px;
  position: fixed;
  background-color: var(--background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
