:root {
  --background-color: #f6f0d9;
  --font-color: #0d3b66;
  --color-1: #ff7b7d;
  --color-2: #feab23;
  --color-3: #ffc900;
  --color-4: #7de3dc;
  --color-5: #75d7a1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-header);
}
