.container {
  margin: 1rem auto 0 auto;
  width: 80%;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blobContainer {
  outline: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 65%;
  margin: 1rem auto 0 auto;
  place-items: center;
}

.blob {
  outline: 1px solid black;
  position: relative;
  width: 15rem;
  border-radius: 50%;
}

/* .blobText {
  position: absolute;
  font-size: 0.8rem;
  color: #000;
  top: 5rem;
} */
