.container {
  margin: 1rem auto 0 auto;
  width: 80%;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blobContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 65%;
  margin: 1rem auto 0 auto;
  place-items: center;
}

.blob {
  position: relative;
  width: 15rem;
  border-radius: 50%;
}

.textContainer {
  top: 4rem;
  left: 4.3rem;
  position: absolute;
}

.textContainer p {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.4;
}

.textContainer .lightText {
  color: #fff;
}

.textContainer .darkText {
  color: #000;
}

.moodHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .entryInfoHeader {
  font-style: italic;
  font-weight: bold;
} */
